html {
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
    width: 100%;
}



body {
    overflow-x:hidden;
}

.header {
   height: 88px;
   width: auto;
   background: linear-gradient(to left, #181823 900px, #000 540px);
   overflow-x: clip;
   padding: 0 72px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    
}

.header__nav-360 {
    display: none;
}

.header__logo {
    align-items: center;
    display: flex;
}

.header__menu {
    height: 88px;
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu__list-item {
    font-size: 16px;
    padding: 32px 24px;
    line-height: 150%;
}

.header__text-item {
    color: #fff;
}

.menu__list-item--purple {
    background-color: #5221E6;
}





.container {
    padding: 80px 40px 84px 0;
    display: flex;
    background: linear-gradient(to left, #181823 900px, #000 540px);
}

.section-1__img {
    position: relative;
    width: 750px;
    height: 650px;
}

.section-1__info {
    position: absolute;
    margin: 137px 0 141px 662px;

}

.section-1__main__text {
    font-size: 78px;
    color: #fff;
}

.section-1__text{
    font-size: 18px;
    color: #fff;
}

.section-1__main__text__block {
    width: 738px;
    height: 282px;
    line-height: normal;
}

.section-1__text__block {
    width: 738px;
    height: 54px;
    line-height: 150%;
    margin-top: 32px;
}

.section-1__main__text__color-grey {
    color: rgba(255, 255, 255, 0.50);
}






.container__section-2 {
    height: 715px;
    background-color: #000000;
}

.section-2__about {
    width: 690px;
    height: 164px;
    padding: 120px 0 0 72px;
}

.section-2__about-text__block {
    width: 158px;
    height: 24px;
}

.section-2__about-text {
    color: #8491A0;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}

.section-2__about-main-text__block {
    width: 690px;
    height: 132px;
    margin-top: 8px;
}

.section-2__about-main-text {
    color: #FFF;
    font-size: 55px;
    line-height: normal;
}

.section-2__info {
    width: 1296px;
    height: 271px;
    display: flex;
    margin: 40px 0 0 72px;
}

.section-2__info__list-1 {
    width: 416px;
    height: 247px;
}

.section-2__info__list-2 {
    width: 416px;
    height: 271px;
}

.section-2__info-number__block {
    width: 126px;
    height: 141px;
}

.section-2__info__main-text__block-1 {
    width: 339px;
    height: 36px;
}

.section-2__info__text__block-1 {
    width: 368px;
    height: 48px;
}

.section-2__info__text__block-2 {
    width: 368px;
    height: 48px;
}

.section-2__info__text__block-3 {
    width: 368px;
    height: 48px;
}

.section-2__info__main-text__block-2 {
    width: 327px;
    height: 36px;
}

.section-2__info-number {
    color: #8491A0;
    font-size: 117px;
    line-height: normal;
}

.section-2__info__main-text {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.section-2__info__text {
    color: #8491A0;
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
}

.section-2__info__main-text__green {
    color: #3CC74E;
}

.section-2__info__main-text__blue {
    color: #609BFF;
}

.section-2__info__main-text__pink {
    color: #E95D90;
}

.section-2__info__text__block-1 {
    margin-top: 22px;
}

.section-2__info__text__block-2 {
    margin-top: 22px;
}

.section-2__info__text__block-3 {
    margin-top: 22px;
}



.section-3__info {
    width: 100%;
    height: 600px;
    background-color: beige;
}

.section-3__main-text__container {
    width: 538px;
    height: 66px;
    margin: 120px 0 0 72px;
}

.section__3__main-text {
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__3__text__container {
    width: 576px;
    height: 108px;
    margin: 24px 0 0 72px;
}

.section-3__about__container {
    width: 116px;
    height: 24px;
    margin: 134px 0 0 72px;
}

.section-3__about {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.section__3__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.section-3 {
}

.section-3__container {
    display: flex;
    justify-content: center;
    background-color:#000000
}

.section-3__container-img {
    width: 100%;
    height: 600px;
}

.section-3__img {
    width: 100%;
    height: 600px;
}

.section-3__line {
    border-top: 1px solid #8491A0;
    width: 116px;
    margin: 4px 0 0 72px;
}

.section-4__container {
    height: 664px;
    display: flex;
    background-color: #000;
}

.about__info {
    width: 416px;
    height: 225px;
    margin: 120px 0 0 72px;
}

.section-4__design-list {
    width: 856px;
    height: 424px;
    display: flex;
    flex-wrap: wrap;
    margin: 120px 0 0 24px;
}

.section-4__product-design {
    width: 416px;
    height: 176px;
}

.section-4__product-design__content-2 {
    width: 368px;
    height: 72px;
    margin-top: 12px;
}

.section-4__product-design__content {
    margin-top: 24px;
}
.section-4__product-design__main-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
}

.section-4__product-design__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}

.section-4__visual-design {
    width: 416px;
    height: 176px;
}

.section-4__visual-design__content-2 {
    width: 368px;
    height: 72px;
    margin-top: 12px;
}

.section-4__visual-design__content {
    margin-top: 24px;
}

.section-4__visual-design__main-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
}

.section-4__visual-design__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}

.section-4__motion-design {
    width: 416px;
    height: 200px;
}

.section-4__motion-design__content-2 {
    width: 368px;
    height: 96px;
    margin-top: 12px;
}

.section-4__motion-design__content {
    margin-top: 24px;
}

.section-4__motion-design__main-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
}

.section-4__motion-design__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}

.section-4__photography {
    width: 416px;
    height: 176px;
}

.section-4__photography__content-2 {
    width: 368px;
    height: 72px;
    margin-top: 12px;
}

.section-4__photography__content {
    margin-top: 24px;
}

.section-4__photography__main-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
}

.section-4__photography__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}

.about-top__info {
    width: 189px;
    height: 66px;
}

.about-top__info__main-text {
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}

.about-bottom__info {
    width: 368px;
    height: 135px;
    padding-top: 24px;
}

.about-bottom__info__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}

.section-5 {
    width: 100%; 
    max-width: 1440px;
    
}

.container__section-5 {
    width:  2091px;
    height: 140px;
    display: flex;
    background-color: black;
    
    
}

.section-5__container-button {
    width: 51px;
    height: 140px;
    display: flex;
    align-items: center;
}

.section-5__button {
    width: 51px;
    height: 23px;
    background-color: aliceblue;
}

.section-5__container__img {
    width: 340px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #181823;
}

.section-5__wrapper-img {
    width: 85px;
    height: 30px;
}




.section-6 {
    height: 2201px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.section-6__container {
    width: 1296px;
    height: 1928px;
    display: flex;
    padding: 120px 72px 153px 72px;
    justify-content: space-between;
}

.section-6__left-part {

}

.section-6__right-part {

}

.main-info__container {
    height: 244px;
}

.section-6__main-info {
    width: 572px;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.section-6__main__info-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #8491A0;
}
.section-6__main__info__main-text {
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-6__Restaurant__Website__Design {
    width: 636px;
    height: 830px;
}
.section-6__Restaurant__Website__Design-img {
    width: 636px;
    height: 620px;
}

.section-6__Restaurant__Website__Design-gap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-6-img {
}
.section-6__Restaurant__Website__Design-info {
    width: 636px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181823;
}
.section-6__Restaurant__Website__Design__text {
    width: 572px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.section-6__Restaurant__Website__Design-text1 {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
}
.section-6__Restaurant__Website__Design-text2 {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}

.section-6__right-part-info-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFF;
}

.section-6__right-part-info {
    width: 247px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 91px 0 0 195px;
}

.section-7 {
    background-color: #000000;
}
.section-7__container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center
}
.section-7__left-part {
    width: 100%;
    height: 600px;
    background-color: #FBE4FF;
}
.section-7__container-text {
    width: 576px;
    height: 198px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 120px 0 0 72px;
}
.section-7__container__text-1 {
    width: 285px;
    height: 66px;
}
.section-7__text-1 {
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #181823;
}
.section-7__container__text-2 {
    width: 567px;
    height: 108px;
}
.section-7__text-2 {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #5B6876;
}

.section-7__bottom-text__line {
    width: 125px;
    height: 29px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 134px 0 0 72px;
}

.section-7__bottomcontainer-text {
    width: 125px;
    height: 24px;
}
.section-7__bottom-text {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #181823;
}
.section-7__line {
    width: 125px;
    border: 1px solid #8491A0;
}
.section-7__right-part {
    width: 100%;
    height: 600px;
}
.section-7__img {
    width: 100%;
    height: 600px;
}


.section-8 {

}
.section-8__container {
    box-sizing: border-box;
    width: 100%;
    height: 1248px;
    padding: 120px 182px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000
}
.section-8__container__top-part {
    width: 1076px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section-8__top-part {
    width: 636px;
    height: 212px
}
.section-8__main-text__container {
    width: 230px;
    height: 66px;
}
.section-8__main-text {
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-8__top-text__container {
    width: 636px;
    height: 54px;
    margin-top: 24px;
}
.section-8__top-text {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.section-8__bottom-text-line__container {
    box-sizing: border-box;
    width: 171px;
    height: 29px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 39px;
}
.section-8__bottom-text__container {
    width: 171px;
    height: 24px;
}
.section-8__bottom-text {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFF;
}
.section-8__bottom-line__container {
    width: 171px;
    height: 1px;
    border: 1px solid #8491A0;
    box-sizing: border-box;
}
.section-8__bottom-part {
    width: 1076px;
    height: 676px;
}
.section-8__bottom-part__list {
    width: 1076px;
    height: 676px;
}
.section-8__bottom-part__img-top {
        width: 1076px;
        height: 36px;
        background-color: #181823;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        align-items: center;
}

.section-8__bottom-part__circle {
    margin-left: 16px;
}
.section-8__bottom-part__img {
    width: 1076px;
    height: 640px;
}



.section-9 {
}
.section-9__container {
    box-sizing: border-box;
    width: 100%;
    height: 2722px;
    padding: 120px 72px;
    display: flex;
    background-color: #000000;
    justify-content: space-between;
}
.section-9__left-part {
    width: 636px;
    height: 278px;
}
.section-9__left-part__top-text__container {
    width: 588px;
    height: 132px;
}
.section-9__left-part__top-text {
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-9__left-part__middle-text__container {
    width: 588px;
    height: 54px;
    margin-top: 24px;
}
.section-9__left-part__middle-text {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.section-9__left-part__bottom-text__container {
    width: 146px;
    height: 29px;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.section-9__left-part__bottom-text {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFF;
}
.section-9__left-part__bottom-line {
    width: 146px;
    border: 1px solid #8491A0;
}
.section-9__right-part {
    width: 636px;
    height: 2482px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.section-9__right-part__img-text-1 {
    width: 636px;
    height: 790px;
    display: flex;
    flex-direction: column;
}
.section-9__right-part__img-text-2 {
    width: 636px;
    height: 697px;
    display: flex;
    flex-direction: column;
}
.section-9__right-part__img-text-3 {
    width: 636px;
    height: 755px;
    display: flex;
    flex-direction: column;
}
.section-9__right-part__img {
    width: 636px;
    height: 360px;
}
.section-9__right-part__text__container-1 {
    box-sizing: border-box;
    width: 636px;
    height: 430px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 1px solid #5B6876;
}
.section-9__right-part__text__container-2 {
    box-sizing: border-box;
    width: 636px;
    height: 337px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 1px solid #5B6876;
}
.section-9__right-part__text__container-3 {
    box-sizing: border-box;
    width: 636px;
    height: 395px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 1px solid #5B6876;
}
.section-9__right-part__text-top-1 {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
}
.section-9__right-part__text-top-2 {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-9__right-part__text-top-3 {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-9__right-part__text-bottom__container {
    width: 508px;
    height: 58px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.section-9__right-part__text-bottom-1 {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #5B6876;
}
.section-9__right-part__text-bottom-2 {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #5B6876;
}



.section-10 {
}
.section-10__container {
    width: 100%;
    height: 959px;
    background-color: #000000;
    box-sizing: border-box;
    padding: 120px 72px;
}
.section-10__container-text {
    width: 588px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-10__main-text {
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-10__text {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.section-10__container-country {
    width: 390px;
    height: 51px;
    display: flex;
    gap: 24px;
    margin-top: 64px;
}
.section-10__container-italy {
    width: 88px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5221E6;
    border: 1px solid #5221E6;
}
.section-10-italy {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFF;
}
.section-10__container-australia {
    width: 136px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5221E6;
}
.section-10-australia {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFF;
}
.section-10__container-india {
    width: 92px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5221E6;
}
.section-10-india {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFF;
}
.section-10__container-brazil {
    width: 102px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5221E6;
}
.section-10-brazil {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFF;
}
.section-10__container-img {
    width: 100%;
    height: 420px;
    display: flex;
    gap: 24px;
    margin-top: 40px;
    justify-content: space-between
}
.section-10__img {
    width: 100%;
    height: 420px;
}


.section-11 {
}
.section-11__container {
    width: 100%;
    height: 731px;
    box-sizing: border-box;
    padding: 120px 182px;
    background-color: #000000;
    display: flex;
}
.section-11__left-part {
    width: 100%;
    height: 491px
}
.section-11__left-part__container-text {
    width: 526px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-11__main-text {
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}
.section-11__text {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.section-11__right-part {
    width: 100%;
    height: 491px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.section-11__right-part__name-container {
    height: 82px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section-11__name-text {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFF;
}
.section-11__input-name {
    height: 50px;
    padding: 0;
    border: none;
    background-color: #181823;
}
.section-11__right-part__email-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 82px;
}
.section-11__name-email {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFF;
}
.section-11__input-email {
    height: 50px;
    padding: 0;
    border: none;
    background-color: #181823;
}
.section-11__right-part__message-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 132px;
}
.section-11__name-message {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFF;
}
.section-11__input-message {
    height: 100px;
    padding: 0;
    border: none;
    background-color: #181823;
}
.section-11__button {
    height: 75px;
    background-color: #5221E6;
    padding: 0;
    border: none;
}
.section-11__button-text {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFF;
}





.footer {
    width: auto;
    overflow-x: clip;
    background-color: #181823;
}

.footer__container {
    width: 1440px;
    height: 442px;
    display: flex;
    display: flex;
}

.footer__logo-name {
    margin: 80px 0 0 72px;
}

.footer__feedback {
    display: flex;
    gap: 16px;
    margin: 32px 0 0 72px;
}

.footer__info {
    width: 426px;
    height: 24px;
    margin: 142px 0 0 72px;
}

.footer__text {
    font-size: 16px;
    width: 427px;
    height: 24px;
    color: #8491A0;
}

.footer__navigation-1 {
    list-style: none;
    width: 196px;
    height: 192px;
    margin-right: 24px;
}

.footer__navigation-list {
    width: 196px;
    height: 48px;
    display: flex;
    align-items: center;
}

.footer__navigation-text {
    color: #fff;
}

.footer__navigation-2 {
    list-style: none;
    width: 196px;
    height: 194px;
}

.footer__right-part {
    display: flex;
    margin: 80px 0 0 344px;
}







@media(max-width:1440px) {
    body {
        width: fit-content;
    }
}
@media(max-width:768px) {
    
    .header {
        padding: 0 40px;
        background: none;
        background-color: black;
    }
    
    .header__nav {
        width: 688px;
        background-color: #000;
    }
    .header__logo {
        width: 78px;
    }
    .header__menu {

    }

    body {
        width: 768px
    }

    .section-1__img-768 {
        width: 384px;
        height: 650px;
    }

    .container {
        background: none;
        background-color: black;
    }

    .section-1__main__text {
        font-size: 56px;
    }
    .section-1__text {
        font-size: 18px;
    }
    .section-1__info {
        margin-top: 87px;
        margin-left: 320px;
    }
    .section-1__main__text__block {
        width: 408px;
        height: 335px;
    }
    .section-1__text__block {
        width: 308px;
        height: 108px;
    }







    .container__section-2 {
        height: 757px;
    }
    .section-2__about-main-text__block {
        width: 688px;
        height: 132px;
        
    }

    .section-2__about-main-text {
        font-weight: 700;
    }

    .section-2__info {
        width: 688px;
        margin: 40px 40px 0 40px;
        gap: 26px;
    }
    
    .section-2__info__list-1 {
        width: 212px;
        height: 369px;
    }

    .section-2__info__list-2 {
        width: 212px;
        height: 393px;
    }

    .section-2__about {
        padding: 80px 40px 0 40px;
    }

    .section-2__info__main-text__block-1 {
        width: 197px;
        height: 108px;
    }

    .section-2__info__main-text__block-2 {
        width: 197px;
        height: 108px;
    }

    .section-2__info__main-text__block-3 {
        width: 197px;
        height: 108px;
    }

    .section-2__info__text__block-1 {
        margin-top: 24px;
        width: 197px;
        height: 96px;
    }

    .section-2__info__text__block-2 {
        margin-top: 24px;
        width: 197px;
        height: 96px;
    }

    .section-2__info__text__block-3 {
        margin-top: 24px;
        width: 197px;
        height: 120px;
    }

    
    .section-3__main-text__container {
        width: 304px;
        height: 132px;
        margin: 80px 40px 0 40px;
    }

    .section__3__text__container {
        width: 304px;
        height: 189px;
        margin: 24px 40px 0 40px
    }



    .section-3__img {
        width: 384px;
        height: 600px;
    }

    .section-3__info {
        height: 600px;
    }

    .section-3__container {
        justify-content: space-between;
    }

    .section-3__about__container {
        margin: 67px 0 0 40px;
    }

    .section-3__line {
        margin: 4px 0 0 40px;
    }

    .about__info {
        width: 688px;
        height: 171px;
        margin: 80px 0 0 40px;
    }

    .section-4__container {
        height: 851px;
        display: flex;
        flex-wrap: wrap;
    }

    .section-4__design-list {
        width: 688px;
        height: 472px;
        margin: 0 40px 80px 40px;
    }

    .section-4__product-design {
        width: 332px;
        height: 200px;
    }

    .section-4__visual-design {
        width: 332px;
        height: 200px;
        
    }

    .section-4__product-design__content-2 {
        width: 284px;
        height: 96px;
    }

    .section-4__visual-design__content-2 {
        width: 284px;
        height: 96px;
    }

    .section-4__motion-design__content-2 {
        width: 284px;
        height: 120px;
    }

    .section-4__photography__content-2 {
        width: 284px;
        height: 96px;
    }

    .section-4__motion-design {
        width: 273px;
        height: 224px;
        margin-top: 48px;
    }

    .section-4__photography {
        width: 332px;
        height: 200px;
        padding: 48px 0 0 59px;
    }

    .about__info {
        margin: 80px 40px 48px 40px;
    }

    .about-top__info {
        width: 189px;
        height: 66px;
    }

    .about-top__info__main-text {

    }

    .about-bottom__info {
        width: 688px;
        height: 81px;
    }

    .about-bottom__info__text {

    }











    .section-6 {
        height: 3868px;
        
    }
    .section-6__container {
        width: 100%;
        height: 3868px;
        padding: 80px 40px;
        flex-direction: column;
        gap: 48px;
        box-sizing: border-box;
        margin: 0;
    }
    .section-6__left-part {
        width: 688px;
    }
    .main-info__container {
    }
    .section-6__main-info {
        width: 688px;
    }
    .section-6__main__info-text {
    }
    .section-6__main__info__main-text {
    }
    .section-6__Restaurant__Website__Design-gap {
        width: 688px;
        gap: 48px;
        
    }
    .section-6__Restaurant__Website__Design {
        width: 688px;
        height: 830px;
    }
    .section-6__Restaurant__Website__Design-img {
        width: 688px;
        height: 620px;

    }
    .section-6-img {
        width: 688px;
        height: 620px;
    }
    .section-6__Restaurant__Website__Design-info {
        width: 688px;
        height: 210px;
    }
    .section-6__Restaurant__Website__Design__text {
        width: 620px;
    }
    .section-6__Restaurant__Website__Design-text1 {
    }
    .section-6__Restaurant__Website__Design-text2 {
    }
    .section-6__right-part {
        width: 688px;
    }
    .section-6__right-part-info {
        display: none;
    }
    .section-6__right-part-info-text {
    }



    .section-7 {
    }
    .section-7__container {
        width: 768px;
        height: 600px;
    }
    .section-7__left-part {
        width: 384px;
        height: 600px;
    }
    .section-7__container-text {
        width: 304px;
        height: 279px;
        margin: 80px 0 0 40px;
    }
    .section-7__container__text-1 {
        width: 304px;
        height: 66px;
    }
    .section-7__text-1 {
    }
    .section-7__container__text-2 {
        width: 304px;
        height: 389px;
    }
    .section-7__text-2 {
    }
    .section-7__bottom-text__line {
        width: 116px;
        height: 29px;
        margin: 133px 0 0 40px;
    }
    .section-7__bottomcontainer-text {
        width: 116px;
        height: 24px;
        box-sizing: border-box;
    }
    .section-7__bottom-text {
        width: 125px;
        height: 29px
    }
    .section-7__line {
        width: 125px;
        height: 1px;
        box-sizing: border-box;
    }
    .section-7__right-part {
        width: 384px;
        height: 600px;
    }
    .section-7__img {
        width: 384px;
        height: 600px;
    }

    .section-8 {
    }
    .section-8__container {
        width: 768px;
        height: 1008px;
        padding: 80px 40px;
    }
    .section-8__container__top-part {
        width: 688px;
        height: 212px;
    }
    .section-8__top-part {
        width: 688px;
        height: 212px;
    }
    .section-8__main-text__container {
        width: 249px;
        height: 66px;
    }
    .section-8__main-text {
    }
    .section-8__top-text__container {
        width: 688px;
        height: 54px;
    }
    .section-8__top-text {
    }
    .section-8__bottom-text-line__container {
        width: 185px;
        height: 29px;
        margin-top: 38px;
    }
    .section-8__bottom-text__container {
        width: 185px;
        height: 24px;
    }
    .section-8__bottom-text {
    }
    .section-8__bottom-line__container {
        width: 171px;
        height: 1px;
    }
    .section-8__bottom-part {
        width: 688px;
        height: 516px;
    }
    .section-8__bottom-part__list {
        width: 688px;
        height: 516px;
    }
    .section-8__bottom-part__img-top {
        width: 688px;
        height: 36px;
    }
    .section-8__bottom-part__img {
        width: 688px;
        height: 480px;
    }



    .section-9 {
    }
    .section-9__container {
        padding: 0%;
        height: 2685px;
        padding: 80px 40px;
    }
    .section-9__left-part {
        width: 346px;
        height: 371px;
    }
    .section-9__left-part__top-text__container {
        width: 346px;
        height: 198px;
    }
    .section-9__left-part__top-text {
    }
    .section-9__left-part__middle-text__container {
        width: 332px;
        height: 81px;
    }
    .section-9__left-part__middle-text {
    }
    .section-9__left-part__bottom-text__container {
        width: 146px;
        height: 29px;
    }
    .section-9__left-part__bottom-text {
    }
    .section-9__left-part__bottom-line {
        width: 146px;
    }
    .section-9__right-part {
        width: 332px;
        height: 2525px;
        gap: 64px;
    }
    .section-9__right-part__img-text-1 {
        width: 332px;
        height: 870px;
    }
    .section-9__right-part__img {
        width: 332px;
        height: 360px;
        object-fit: cover none-repeat;
    }
    .section-9__right-part__text__container-1 {
        width: 333px;
        height: 510px;
        padding: 32px;
    }
    .section-9__right-part__text-top-1 {
    }
    .section-9__right-part__text-bottom__container {
        width: 264px;
    }
    .section-9__right-part__text-bottom-1 {
    }
    .section-9__right-part__text-bottom-2 {
    }
    .section-9__right-part__img-text-2 {
        width: 332px;
        height: 720px;
    }
    .section-9__right-part__text__container-2 {
        width: 333px;
        height: 360px;
        padding: 32px;
    }
    .section-9__right-part__text-top-2 {
    }
    .section-9__right-part__img-text-3 {
        width: 332px;
        height: 807px;
    }
    .section-9__right-part__text__container-3 {
        width: 333px;
        height: 447px;
        padding: 32px;
    }
    .section-9__right-part__text-top-3 {
    }




    .section-10 {
    }
    .section-10__container {
        width: 768px;
        height: 1323px;
        padding: 80px 40px;
    }
    .section-10__container-text {
        width: 689px;
    }
    .section-10__main-text {
    }
    .section-10__text {
    }
    .section-10__container-country {
    }
    .section-10__container-italy {
    }
    .section-10-italy {
    }
    .section-10__container-australia {
    }
    .section-10-australia {
    }
    .section-10__container-india {
    }
    .section-10-india {
    }
    .section-10__container-brazil {
    }
    .section-10-brazil {
    }
    .section-10__container-img {
        width: 688px;
        height: 864px;
        display: flex;
        flex-wrap: wrap;
    }
    .section-10__img {
        width: 332px;
        height: 420px;
    }


    .section-11 {
    }
    .section-11__container {
        width: 768px;
        height: 651px;
        padding: 80px 40px;
        display: flex;
        gap: 24px;
    }
    .section-11__left-part {
        width: 332px;
        height: 491px;
    }
    .section-11__left-part__container-text {
        width: 332px;
        height: 237px;
    }
    .section-11__main-text {
    }
    .section-11__text {
    }
    .section-11__right-part {
        width: 332px;
        height: 491px;
    }
    .section-11__right-part__name-container {
        width: 332px;
        height: 82px;
    }
    .section-11__name-text {
    }
    .section-11__input-name {
        width: 332px;
        height: 50px;
    }
    .section-11__right-part__email-container {
        width: 332px;
        height: 82px;
    }
    .section-11__name-email {
    }
    .section-11__input-email {
        width: 332px;
        height: 50px;
    }
    .section-11__right-part__message-container {
        
    }
    .section-11__name-message {
    }
    .section-11__input-message {
        width: 332px;
        height: 132px;
    }
    .section-11__button {
        width: 332px;
        height: 75px;
    }
    .section-11__button-text {
    }









    .footer {

    }

    .footer__container {
        width: 767px;
    }
    .footer__navigation-1 {
        width: 154px;
        height: 192px;
    }
    .footer__navigation-2 {
        width: 154px;
        height: 144px;
    }
    .footer__right-part {
        margin: 80px 0 0 -40px
    }
    .footer__text {
        width: 329px;
        height: 48px;
        width: 329px;
        line-height: 150%;
        font-size: 16px;
    }
    .footer__left-part {
        margin: 80px 0 0 40px;
    }
    .footer__logo-name {
        margin: 0;
    }
    .footer__feedback {
        margin: 32px 0 0 0;
    }
    .footer__info {
        margin: 142px 0 0 0;
    }
}

@media(max-width:360px) {
    .menu-list {
        display: none;
    }
    .header__nav-360 {
        display: flex;
        align-items: center;
        background-color: inherit;
        border: none;
        padding: 1px 0;
    }
    .header {
        height: 72px;
        padding: 0;
        max-width: 360px;
    }

    .header__logo {
        margin-right: 218px;
    }

    .header__nav {
        height: 72px;
        padding: 0 20px;
        width: fit-content;
    }
    
    body {
        width: auto;
    }

    .section-1__img-768 {
        height: 288px;
        width: 360px;
    }

    .section-1__img {
        height: 288px;
        position: relative;
    }
    .container {
        padding: 0;
    }

    .section-1__info {
        width: 340px;
        height: 268px;
        position: absolute;
        margin: auto;
        top: 408px
    }
    .section-1__main__text {
        font-size: 32px;
    }
    .section-1__text {
        font-size: 18px;
        height: 135px;
        line-height: 150%;
        font-weight: 400;
    }
    .section-1__main__text__block {
        width: 320px;
        height: 117px;
        padding: 0 20px;
    }
    .section-1__text__block {
        width: 320px;
        height: 135px;
        margin-top: 16px;
        padding: 0 20px;
    }

    .section-2__about-main-text__block {
        width: 320px;
        height: 117px;
    }

    .section-2__about {
        width: 320px;
        height: 149px;
        padding: 48px 20px 0 20px;
    }

    .section-2__about-main-text {
        font-size: 32px;
        height: 117px;
    }

    .section-2__info {
        width: 320px;
        height: 907px;
        margin: 40px 20px 0 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .section-2__info__list-1 {
        width: 320px;
        height: 285px;
    }

    .section-2__info__list-3 {
        width: 320px;
        height: 277px;
    }

    .section-2__info__list-2 {
        width: 320px;
        height: 265px;
    }

    .section-2__info__main-text__block-1 {
        width: 320px;
        height: 72px;
    }

    .section-2__info__main-text__block-2 {
        width: 320px;
        height: 72px;
    }

    .section-2__info__main-text__block-3 {
        width: 320px;
        height: 36px;
    }

    .section-2__info-text__block-1 {
        width: 320px;
        height: 48px;
        padding-bottom: 8px;
    }
    
    .section-2__info__text__block-2 {
        width: 320px;
        height: 48px;
        margin: 0;
    }

    .section-2__info__text__block-3 {
        width: 320px;
        height: 72px;
        margin: 0;
    }

    .section-2__info__text {
        margin-top: 16px;
        font-weight: 400;
        line-height: 150%;
        font-size: 16px;
    }

    .section-2__info__main-text {
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
    }

    .container__section-2 {
        height: 1192px;
    }

    .section-3__container {
        height: 900px;
        flex-direction: column;
    }

    .section-3__info {
        width: 360px;
        height: 450px;
    }

    .section-3__img {
        width: 360px;
        height: 450px;
    }

    .section-3__main-text__container {
        width: 320px;
        height: 29.25px;
        margin: 48px 20px 0 20px;
    }

    .section__3__main-text {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .section__3__text__container {
        width: 320px;
        height: 189px;
        margin: 31px 20px 0 20px;
    }

    .section__3__text {

    }

    .section-3__container-img {
        width: 360px;
        height: 450px;
    }

    .section-3__about__container {
        width: 116px;
        height: 18px;
        margin: 91px 0 0 20px;
    }

    .section-3__line {
        margin: 3px 0 0 20px;
    }

    .section-4__container {
        height: 1348px;
        padding: 0 20px 0 20px;
    }

    .about__info {
        width: 320px;
        height: 227px;
        margin: 68px 0 0 0;
        padding: 14px 0px 21px 0px;
    }

    .about-top__info {
        width: 320px;
        height: 39px;
    }

    .about-top__info__main-text {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal
    }

    .about-bottom__info {
        width: 320px;
        height: 162px;
        padding: 0;
        margin-top: 16px;
    }

    .section-4__product-design {
        width: 320px;
        height: 176px;
    }

    .section-4__design-list {
        height: 920px;
        margin: 48px 0 49px 0;
    }

    .seaction-4__img-360 {
        width: 26px;
        height: 32px;
    }

    .section-4__product-design__content {
        width: 320px;
        height: 36px;
    }

    .section-4__product-design__content-2 {
        width: 320px;
        height: 72px;
    }

    .section-4__visual-design {
        width: 320px;
        height: 200px;
        margin-top: 48px;
    }

    .section-4__visual-design__content {
        width: 320px;
        height: 36px;
    }

    .section-4__visual-design__content-2 {
        width: 320px;
        height: 96px;
    }

    .section-4__motion-design {
        width: 320px;
        height: 200px;
        margin: 0;
        margin-top: 48px;
    }

    .section-4__motion-design__content {
        width: 320px;
        height: 36px;
    }

    .section-4__motion-design__content-2 {
        width: 320px;
        height: 96px;
    }

    .section-4__photography {
        width: 320px;
        height: 200px;
        padding: 0;
        margin-top: 48px;
    }

    .section-4__photography__content {
        width: 320px;
        height: 36px;
    }

    .section-4__photography__content-2 {
        width: 320px;
        height: 96px;
    }







    .section-6 {
        height: 100%;
    }
    .section-6__container {
        box-sizing: border-box;
        width: 360px;
        height: 3484px;
        padding: 64px 20px 70px;
        gap: 48px;
    }
    .section-6__left-part {
        width: 320px;
        height: 1746px;
        gap: 48px;
    }
    .main-info__container {
        width: 320px;
        height: 190px;
    }
    .section-6__main-info {
        width: 320px;
        height: 110px;
        display: flex;
        justify-content: space-between;
    }
    .section-6__main__info-text {
    }
    .section-6__main__info__main-text {
        font-family: Sen;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .section-6__Restaurant__Website__Design-gap {
        width: 320px;
        height: 754px;
    }
    .section-6__Restaurant__Website__Design {
        width: 320px;
        height: 754px;
    }
    .section-6__Restaurant__Website__Design-img {
        width: 320px;
        height: 400px;
    }
    .section-6-img {
        width: 320px;
        height: 400px;
    }
    .section-6__Restaurant__Website__Design-info {
        width: 320px;
        height: 354px;
    }
    .section-6__Restaurant__Website__Design__text {
        width: 256px;
        height: 274px;
        display: flex;
    }
    .section-6__Restaurant__Website__Design-text1 {
    }
    .section-6__Restaurant__Website__Design-text2 {
    }
    .section-6__right-part {
        width: 320px;
        height: 1556px;
        gap: 48px;
    }
    .section-6__right-part-info {
    }
    .section-6__right-part-info-text {
    }




    .section-7 {
    }
    .section-7__container {
        width: 360px;
        height: 900px;
        display: flex;
        flex-direction: column;
    }
    .section-7__left-part {
        width: 360px;
        height: 450px;
    }
    .section-7__container-text {
        width: 320px;
        height: 207px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
        margin: 48px 0 0 20px;
    }
    .section-7__container__text-1 {
        width: 320px;
        height: 29px;
    }
    .section-7__text-1 {
        font-size: 32px;
    }
    .section-7__container__text-2 {
        width: 320px;
        height: 162px;
    }
    .section-7__text-2 {
    }
    .section-7__bottom-text__line {
        width: 128px;
        height: 22px;
        margin: 126px 0 0 20px;
    }
    .section-7__bottomcontainer-text {
        width: 128px;
        height: 18px;
    }
    .section-7__bottom-text {
        width: 128px;
        height: 18px;
    }
    .section-7__line {
        width: 128px;
        height: 1px;
    }
    .section-7__right-part {
        width: 360px;
        height: 450px;
    }
    .section-7__img {
        width: 360px;
        height: 450px;
    }

    .section-8 {
    }
    .section-8__container {
        width: 360px;
        height: 974px;
        padding: 64px 20px;
        gap: 64px;
    }
    .section-8__container__top-part {
        width: 320px;
        height: 266px;
    }
    .section-8__top-part {
        width: 320px;
        height: 266px;
    }
    .section-8__main-text__container {
        width: 249px;
        height: 66px;
    }
    .section-8__main-text {
    }
    .section-8__top-text__container {
        width: 320px;
        height: 108px;
    }
    .section-8__top-text {
    }
    .section-8__bottom-text-line__container {
        width: 185px;
        height: 29px;
    }
    .section-8__bottom-text__container {
        width: 185px;
        height: 24px;
    }
    .section-8__bottom-text {
    }
    .section-8__bottom-line__container {
        width: 171px;
        height: 1px;
    }
    .section-8__bottom-part {
        width: 320px;
        height: 516px;
    }
    .section-8__bottom-part__list {
        width: 320px;
        height: 516px;
    }
    .section-8__bottom-part__img-top {
        width: 320px;
        height: 36px;
    }
    .section-8__bottom-part__circle {
    }
    .section-8__bottom-part__img {
        width: 320px;
        height: 480px;
    }


    .section-9 {
    }
    .section-9__container {
        height: 2896px;
        padding: 48px 14px;
        flex-direction: column;
    }
    .section-9__left-part {
        width: 320px;
        height: 243px;
    }
    .section-9__left-part__top-text__container {
        width: 320px;
        height: 78px;
    }
    .section-9__left-part__top-text {
        font-size: 32px
    }
    .section-9__left-part__middle-text__container {
        width: 320px;
        height: 81px;
        margin-top: 16px;
    }
    .section-9__left-part__middle-text {
    }
    .section-9__left-part__bottom-text__container {
    }
    .section-9__left-part__bottom-text {
    }
    .section-9__left-part__bottom-line {
    }
    .section-9__right-part {
        width: 332px;
        height: 2493px;
        gap: 48px;
    }
    .section-9__right-part__img-text-1 {
        width: 332px;
        height: 870px;
    }
    .section-9__right-part__img {
        width: 332px;
        height: 360px;
    }
    .section-9__right-part__text__container-1 {
        width: 333px;
        height: 510px;
    }
    .section-9__right-part__text-top-1 {
    }
    .section-9__right-part__text-bottom__container {
    }
    .section-9__right-part__text-bottom-1 {
    }
    .section-9__right-part__text-bottom-2 {
    }
    .section-9__right-part__img-text-2 {
        width: 332px;
        height: 720px;
    }
    .section-9__right-part__text__container-2 {
        width: 333px;
        height: 360px;
    }
    .section-9__right-part__text-top-2 {
    }
    .section-9__right-part__img-text-3 {
        width: 332px;
        height: 807px;
    }
    .section-9__right-part__text__container-3 {
        width: 333px;
        height: 447px;
    }
    .section-9__right-part__text-top-3 {
    }


    .section-10 {
    }
    .section-10__container {
        width: 360px;
        height: 2198px;
        padding: 48px 20px;
    }
    .section-10__container-text {
        width: 320px;
        height: 144px;
    }
    .section-10__main-text {
        font-size: 32px;
    }
    .section-10__text {
    }
    .section-10__container-country {
        width: 320px;
        height: 126px;
        flex-direction:row;
        gap: 24px;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .section-10__container-italy {
        width: 146px;
        height: 49px;
    }
    .section-10-italy {
    }
    .section-10__container-australia {
        width: 146px;
        height: 49px;
    }
    .section-10-australia {
    }
    .section-10__container-india {
        width: 146px;
        height: 49px;
    }
    .section-10-india {
    }
    .section-10__container-brazil {
        width: 146px;
        height: 49px;
    }
    .section-10-brazil {
    }
    .section-10__container-img {
        height: 1752px;
        width: 320px;
    }
    .section-10__img {
        width: 320px;
        height: 420px;
    }


    .section-11 {
    }
    .section-11__container {
        width: 360px;
        height: 771px;
        display: flex;
        flex-direction: column;
        padding: 48px 20px;
        gap: 48px;
    }
    .section-11__left-part {
        width: 320px;
        height: 136px;
    }
    .section-11__left-part__container-text {
        width: 320px;
        height: 136px;
    }
    .section-11__main-text {
        font-size: 32px;
    }
    .section-11__text {
    }
    .section-11__right-part {
        width: 320px;
    }
    .section-11__right-part__name-container {
        width: 320px;
    }
    .section-11__name-text {
    }
    .section-11__input-name {
        width: 320px;
    }
    .section-11__right-part__email-container {
        width: 320px;
    }
    .section-11__name-email {
    }
    .section-11__input-email {
        width: 320px;
    }
    .section-11__right-part__message-container {
        width: 320px;
    }
    .section-11__name-message {
    }
    .section-11__input-message {
        width: 320px;
    }
    .section-11__button {
        width: 320px;
    }
    .section-11__button-text {
    }














    .footer__container {
        height: 672px;
    }
    .container {
        height: 652px;
    }
    .footer__container {
        display: flex;
        width: 360px;
        position: relative;
    }

    .footer__right-part {
        width: 144px;
        height: 336px;
        display: flex;
        margin: 0;
        position: absolute;
        flex-direction: column;
        top: 192px;
        left: 20px;
    }
    .footer__left-part {
        margin: 48px 0 0 20px;
        width: 360px;
    }
    .footer__text {
        padding-top: 288px;
    }
}